#Working with Datasets using Python Pandas and perform basic data analytics

In [1]:
import pandas as pd

In [3]:
D = {'metro': ['Delhi', 'Delhi', 'Delhi', 'Mumbai', 'Mumbai', 'Mumbai'] ,
     'year':[2010,2011,2012,2010,2011,2012] ,
     'popcr': [1.67,1.72,1.77,2.07,2.11,2.15]
     }; D

{'metro': ['Delhi', 'Delhi', 'Delhi', 'Mumbai', 'Mumbai', 'Mumbai'],
 'year': [2010, 2011, 2012, 2010, 2011, 2012],
 'popcr': [1.67, 1.72, 1.77, 2.07, 2.11, 2.15]}

##This Dataframe has 2 numerical columns(year and popcr) and 1 Categorical column(metro)

In [4]:
DF = pd.DataFrame(D); DF

    metro  year  popcr
0   Delhi  2010   1.67
1   Delhi  2011   1.72
2   Delhi  2012   1.77
3  Mumbai  2010   2.07
4  Mumbai  2011   2.11
5  Mumbai  2012   2.15

In [19]:
#List the 1st 5 rows of the DataFrame.
DF.head()

    metro  year  popcr
0   Delhi  2010   1.67
1   Delhi  2011   1.72
2   Delhi  2012   1.77
3  Mumbai  2010   2.07
4  Mumbai  2011   2.11

##Obtain numerical statistics of numerical columns

*   use *describe( )* method.

In [22]:
DF.describe()

              year     popcr
count     6.000000  6.000000
mean   2011.000000  1.915000
std       0.894427  0.217417
min    2010.000000  1.670000
25%    2010.250000  1.732500
50%    2011.000000  1.920000
75%    2011.750000  2.100000
max    2012.000000  2.150000

In [23]:
DF['popcr'].describe()

count    6.000000
mean     1.915000
std      0.217417
min      1.670000
25%      1.732500
50%      1.920000
75%      2.100000
max      2.150000
Name: popcr, dtype: float64

In [25]:
DF['metro'].describe()

count         6
unique        2
top       Delhi
freq          3
Name: metro, dtype: object

##Work with California Housing prices dataset.

In [28]:
df1 = pd.read_csv('/content/sample_data/housing.csv');df1

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [32]:
df1.shape

(20640, 10)

In [34]:
df1.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

##Use *info( )* method to find info about a Dataframe, like 

*   number of Not Null columns
*   List data type of each column
*   List the Numerical and Categorical column.

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [37]:
df1.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [38]:
df1['ocean_proximity'].describe()

count         20640
unique            5
top       <1H OCEAN
freq           9136
Name: ocean_proximity, dtype: object

##Get the distinct values stored in a given Dataframe column, i.e, Find distinct classes in categorical data

*   use *unique( )* method

In [41]:
# Obtain the various classes of data in the ocean_proximity column. Get the distinct values stored in a given Dataframe column.
df1['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

## No of occurances for each value in a Dataframe.

*   use *value_counts( )* method.

In [46]:
df1['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [50]:
##Listing all columns in a Dataframe
df1.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

##Perform some Data Analytics to Compute correlations between 2 columns.

In [52]:
#Computing correlation between the Mediam House value and the Median Income
df1['median_house_value'].corr(df1['median_income'])

0.688075207958548

In [ ]:
#Computing pairwise correlation with one particular column of interest with all other columns in a Dataframe.

In [54]:
df1.corrwith(df1.median_house_value)

longitude            -0.045967
latitude             -0.144160
housing_median_age    0.105623
total_rooms           0.134153
total_bedrooms        0.049686
population           -0.024650
households            0.065843
median_income         0.688075
median_house_value    1.000000
dtype: float64

In [57]:
df1.corrwith(df1.median_house_value).sort_values(ascending=False)

median_house_value    1.000000
median_income         0.688075
total_rooms           0.134153
housing_median_age    0.105623
households            0.065843
total_bedrooms        0.049686
population           -0.024650
longitude            -0.045967
latitude             -0.144160
dtype: float64

##Compute Co-variance between 2 columns, use the *cov( )* method.

In [58]:
df1['median_house_value'].cov(df1['median_income'])

150847.4827926605